.home-section{
 background: url(/image/mobile.png) no-repeat center center/cover;
 height: 95vh;
}

@media (min-width: 768px) and (max-width:1023px){
 .home-section{
  background: url(/image/tablet.png) no-repeat center center/cover;
  height: 70vh;
 }
}
@media (min-width: 1024px)and (max-width:1439px){
 .home-section{
  background: url(/image/laptop.png) no-repeat center center/cover;
  height: 95vh;
 }
}

@media (min-width: 1440px){
 .home-section{
  background: url(/image/desktop.png) no-repeat center center/cover;
  height: 70vh;
 }
}